<div class="container">
  <!-- <form class="login-form"> -->
    <mat-form-field  class="login-full">
      <mat-label>شماره موبایل</mat-label>
      <input type="text" matInput [formControl]="MobileFormControl" [errorStateMatcher]="matcher"
             placeholder="مثال *********09">
      <mat-hint>ارور</mat-hint>

      <mat-error *ngIf="MobileFormControl.hasError('required')">
        شماره موبایل <strong>اجباری است</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-full-width">
      <mat-label>رمز عبور</mat-label>
      <input type="password" matInput [formControl]="PasswordFormControl" [errorStateMatcher]="matcher"
      placeholder="Ex. pat@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="PasswordFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button (click)="check()" class="button" mat-raised-button color="primary">ورود</button>
  <!-- </form> -->
</div>
